# Default owners for all files in the repository.
* @alanta

# CI/CD and repo configuration
/.github/ @alanta

# Main library and app code owners
/Aspire.Hosting.EasyAuthProxy/ @alanta
/EasyAuthDevProxy/ @alanta
/DemoApp/ @alanta
/AspireDemo/ @alanta
